@charset "UTF-8";
/* CSS Document */

/*Config du HEADER*/
.header h2{
	font-size: 45px;
	font-weight: 300;
	margin-bottom: 30px;
	text-align: center;
}
.header h3{
	font-size: 20px;
	font-weight: 200;
	margin: 0 10%;
	text-align: center;
}