@charset "UTF-8";
/* CSS Document */
/*Config partie Gauche*/
.partie-gauche{
	min-height: 100vh;
	width: 40%;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #003752;
	color: #fff;
	text-align: center;
}
.nav-is-stuck .partie-gauche {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	animation: stickAnim .3s;
}
.partie-gauche img{
	width: 55%;
}
.partie-gauche h2{
	font-size: 30px;
    font-weight: 300;
	margin: 0px 15% 15%;
}
/*Config Menu*/
.menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.menu-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    padding-right: 40px;
    padding-left: 20px;
}
.menu-row:hover{
	border:1px solid #fff;
	border-radius: 100px;
animation: pulse 2s infinite;
}
.menu-row img{
	width: 27px;
}
.menu-row h3{
	padding-left: 20px;
	font-weight: 200;
	font-size: 18px;
}
/*Config du HEADER*/
.header h2{
	font-size: 45px;
	font-weight: 300;
	margin-bottom: 30px;
	text-align: center;
}
.header h3{
	font-size: 20px;
	font-weight: 200;
	margin: 0 10%;
	text-align: center;
}
/*Config Font*/
.formation h5{
	margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 100;
    margin-left: 0px;
}
.formation h2{
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 300;
}
.formation h3{
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 300;
}
.formation h4{
	font-size: 18px;
	margin-top: 10px;
	font-weight: 100;
	margin-bottom: 0px;
	
}
.p{
	font-size: 15px;
	font-weight: 100;
	margin: 7px 0px 0;
	text-align: justify;
}
.formation hr{
	margin: 15px 0px;
}

/*1er Ecole*/
.formation{
	min-height: 80vh;
	width: calc(100% - 160px);
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-around;
	background-color: #fff;
}
/*Reglage section 1 - experience*/
#experience1{
	width: 50%;
}
#Societe-Generale{
	background-image: url(../img/experience2.png);
	background-size: 43%;
	background-position: left;
	background-repeat: no-repeat;
}
#experience1-image{
	width: 50%;
	margin-right: 20px;
	animation: bounce 1.7s ease infinite alternate;
}
.tile-formation img{
	width: 100%;
}
/*Reglage section 2 - experience*/
#experience2{
	width: 50%;
}
#Aressy{
	background-image: url(../img/experience3.png);
	background-size: 35%;
	background-position: right;
	background-repeat: no-repeat;
}
#experience2-image{
	width: 50%;
	animation: bounce 1.7s ease infinite alternate;
}
#iphone-aressy{
	width: 100%;
}
/*Reglage section 3 - experience*/
#experience3{
	width: 30%;
}
#Foncia{
	background-image: url(../img/experience1.png);
	background-size: 60%;
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-left: 0px;
	min-height: 60vh
}
#experience3-image{
	width: 70%;
}
#watch{
	width: 25%;
	margin-left: 45%;
	animation: bounce 1.7s ease infinite alternate;
}

/*annimation*/
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(256, 256, 256, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.4);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(256, 256, 256, 0);
      box-shadow: 0 0 0 10px rgba(256, 256, 256, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
      box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
  }
}

/**RESPONSIVE**/
@media screen and (max-width: 978px) {
  .partie-gauche {
	min-height: 15vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
  }
	.photo-profil{
		display: none;
	}
	.partie-gauche h2{
		display: none;
	}
}
@media screen and (max-width: 978px) {
  .menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
	.menu-row h3{
		font-size: 10px;
	}
}
@media screen and (max-width: 950px) {
  .menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
	.menu-row h3{
		font-size: 8px;
		padding-left: 0px;
		padding-top: 5px;
	}
	.menu-row{
		padding-left: 10px;
		padding-right: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu-row:hover{
		border: 0px;
	}
}
@media screen and (max-width: 600px) {
	.formation{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	#Aressy{
		flex-direction: column-reverse;
	}
	#experience1{
		width: 90%;
	}
	#Societe-Generale{
		background-image: none;
	}
	#experience2{
		width: 90%;
		background-image: none;
	}
	#Aressy{
		background-image: none;
	}
	#experience3{
		width: 90%;
	}
	#Foncia{
		background-image: none;
	}
	#experience1-image{
		background-image: url(../img/experience2.png);
		background-size: 80%;
		background-position: left;
	}
	.tile-formation img{
		display: none;
	}
}